.about {
  width: 100%;
  min-height: 100vh;
  background-color: #000b26;
  scroll-margin-top: 85px;
  padding-bottom: 100px;
}

.aout-title__wrap {
  display: flex;
  padding-top: 60px;
  justify-content: center;
  margin-bottom: 60px;
}

.about-title {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: "Mulish", sans-serif;
}

.about-con {
  display: flex;
  justify-content: center;
  position: relative;
}

.about-profile {
  width: 255px;
  position: relative;
  margin-right: 100px;
}

.about-pf__box {
  width: 100%;
  height: 252px;
  background-color: white;
  margin-bottom: 20px;
}

.about-quote-left {
  width: 16px;
  height: 15px;
  background-image: url("../img/about/quote-left.png");
}

.about-pf__info {
  color: white;
  text-align: center;
  font-size: 14px;
}

.about-quote-right {
  width: 16px;
  height: 15px;
  background-image: url("../img/about/quote-right.png");
  position: absolute;
  right: 0;
}

.about-btn {
  width: 150px;
  height: 29px;
  border-radius: 11px;
  background-color: white;
  margin-top: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-info {
  width: 490px;
}

.about-info__text {
  font-size: 14px;
  color: white;
  margin-bottom: 45px;
}

.about-carrer__title-wrap {
  display: flex;
  margin-bottom: 25px;
}

.about-carrer__icon {
  width: 25px;
  height: 21px;
  background-image: url("../img/about/about-carrer.png");
  margin-right: 10px;
}

.about-carrer__text {
  font-size: 18px;
  color: white;
}

.about-carrer__list {
  color: white;
}

.about-carrer__item {
  display: flex;
  margin-bottom: 25px;
}

.about-carrer__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  margin-top: 10px;
}

.about-career__date {
  margin-right: 30px;
}

.about-career__date .year {
  width: 64px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.about-carrer__desc-wrap p:nth-child(1) {
  font-weight: bold;
}

.about-carrer__desc-wrap p:nth-child(2) {
  font-size: 13px;
}

.about-bottom__icon {
  width: 295px;
  height: 307px;
  background-image: url("../img/about/about-bottom-icon.png");
  position: absolute;
  bottom: 0;
  right: 50px;
}

@media (min-width: 1600px) {
  .aout-title__wrap {
    margin-bottom: 100px;
    padding-top: 100px;
  }

  .about-bottom__icon {
    right: 200px;
  }
}
