.contact {
  width: 100%;
  /* min-height: calc(100vh - 80px); */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title__wrap {
  display: flex;
  padding-top: 200px;
  margin-bottom: 60px;
}

.contact-title {
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: "Mulish", sans-serif;
}

.top-icon {
  width: 18px;
  height: 18px;
  background-image: url("../img/top-icon-black.png");
}

.contact-text {
  text-align: center;
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-icon {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.icon-phone {
  background-image: url("../img/contact/contact-icon-phone.png");
}

.icon-mail {
  width: 14px;
  background-image: url("../img/contact/contact-icon-mail.png");
}

.contact-bottom-wrap {
  width: 800px;
  height: 200px;
  position: relative;
  display: flex;
}

.contact-bottom-left {
  width: 260px;
  height: 252px;
  background-image: url("../img/contact/contact-bottom-left.png");
  position: absolute;
  left: 0;
  bottom: 0;
}

.contact-bottom-right {
  width: 312px;
  height: 301px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../img/contact/contact-bottom-right.png");
}
