.design {
  width: 100%;
  min-height: 100vh;
  /* min-height: calc(100vh - 80px); */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 85px;
  align-items: center;
}

.design-title__wrap {
  display: flex;
  padding-top: 60px;
  margin-bottom: 60px;
}

.design-title {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Mulish", sans-serif;
}

.design-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.design-menu {
  gap: 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.design-item {
  cursor: pointer;
}

.design-item.active {
  text-decoration: underline;
  font-weight: 500;
}

.design-img__wrap {
  width: 864px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 100px;
  gap: 32px;
}

.design-img__left,
.design-img__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.design-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.design-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.design-title__text {
  font-size: 20px;
}

.design-img.has-overlay:hover .design-overlay {
  opacity: 1;
}

.design-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
  z-index: 0;
}

.design-overlay {
  z-index: 1;
}

.design-img.has-overlay:hover::before {
  transform: scale(1.1);
}

.visual-img1 {
  width: 413px;
  height: 275px;
  background-image: url("../img/design/visual/visual-img1.png");
}

.visual-img2 {
  width: 413px;
  height: 413px;
  background-image: url("../img/design/visual/visual-img2.png");
}

.visual-img3 {
  width: 413px;
  height: 275px;
  background-image: url("../img/design/visual/visual-img3.png");
}

.visual-img4 {
  width: 413px;
  height: 310px;
  background-image: url("../img/design/visual/visual-img4.png");
}

.artwork-img1 {
  width: 414px;
  height: 299px;
  background-image: url("../img/design/artwork/artwork-img1.png");
}

.artwork-img2 {
  width: 412px;
  height: 412px;
  background-image: url("../img/design/artwork/artwork-img2.png");
  background-size: cover;
}

.artwork-img3 {
  width: 417px;
  height: 221px;
  background-image: url("../img/design/artwork/artwork-img3.png");
  background-size: cover;
}

.artwork-img4 {
  width: 414px;
  height: 414px;
  background-image: url("../img/design/artwork/artwork-img4.png");
}

.artwork-img5 {
  width: 420px;
  height: 266px;
  background-image: url("../img/design/artwork/artwork-img5.png");
  background-size: cover;
}

.artwork-img6 {
  width: 414px;
  height: 285px;
  background-image: url("../img/design/artwork/artwork-img6.png");
  background-size: cover;
}

.indesign-img1 {
  width: 415px;
  height: 249px;
  background-image: url("../img/design/indesign/indesign-img1.png");
}

.indesign-img2 {
  width: 415px;
  height: 312px;
  background-image: url("../img/design/indesign/indesign-img2.png");
}

.indesign-img3 {
  width: 415px;
  height: 245px;
  background-image: url("../img/design/indesign/indesign-img3.png");
}

.indesign-img4 {
  width: 415px;
  height: 310px;
  background-image: url("../img/design/indesign/indesign-img4.png");
}

.indesign-img5 {
  width: 415px;
  height: 310px;
  background-image: url("../img/design/indesign/indesign-img5.png");
}

.indesign-img6 {
  width: 413px;
  height: 309px;
  background-image: url("../img/design/indesign/indesign-img6.png");
}

.indesign-img7 {
  width: 413px;
  height: 275px;
  background-image: url("../img/design/indesign/indesign-img7.png");
}

.indesign-img8 {
  width: 413px;
  height: 263px;
  background-image: url("../img/design/indesign/indesign-img8.png");
}

.indesign-img9 {
  width: 413px;
  height: 310px;
  background-image: url("../img/design/indesign/indesign-img9.png");
}

.infographic-img1 {
  width: 413px;
  height: 309px;
  background-image: url("../img/design/infographic/infographic-img1.png");
}

.infographic-img2 {
  width: 413px;
  height: 328px;
  background-image: url("../img/design/infographic/infographic-img2.png");
}

.infographic-img3 {
  width: 413px;
  height: 310px;
  background-image: url("../img/design/infographic/infographic-img3.png");
}

.infographic-img4 {
  width: 413px;
  height: 309px;
  background-image: url("../img/design/infographic/infographic-img4.png");
}

.infographic-img5 {
  width: 413px;
  height: 310px;
  background-image: url("../img/design/infographic/infographic-img5.png");
}

.infographic-img6 {
  width: 413px;
  height: 308px;
  background-image: url("../img/design/infographic/infographic-img6.png");
}

.infographic-img7 {
  width: 413px;
  height: 275px;
  background-image: url("../img/design/infographic/infographic-img7.png");
}

.infographic-img8 {
  width: 413px;
  height: 310px;
  background-image: url("../img/design/infographic/infographic-img8.png");
}

.infographic-img9 {
  width: 413px;
  height: 310px;
  background-image: url("../img/design/infographic/infographic-img9.png");
}

@media (min-width: 1600px) {
  .design-title__wrap {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .design-container {
    width: 100%;
    max-width: 1300px;
  }

  .design-item {
    font-size: 25px;
  }

  .design-title__wrap {
    margin-bottom: 100px;
  }

  .design-container {
    width: 1300px;
  }
}
