.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 9;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header--scrolled {
  background-color: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  /* text-shadow: 0 4px 4.3px rgba(0, 0, 0, 0.25); */
}

.header-nav {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.header-nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.header.header--shadow {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1600px) {
  .header-container {
    max-width: 1300px;
  }

  .main-logo {
    font-size: 25px;
  }

  .header-nav button {
    font-size: 18px;
  }
}
