.main-img {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../img/home/main.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  scroll-margin-top: 85px;
}

.main-text {
  width: 700px;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 34px;
  color: white;
  font-weight: 100;
  font-family: "NanumGothic", sans-serif;
  text-shadow: 0 4px 4.3px rgba(0, 0, 0, 0.25);
}

.main-text span {
  font-family: normal;
}

.final-text {
  margin-top: 10px;
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.main-bottom__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-scroll__line-wrap {
  width: 3px;
  height: 15px;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 25px;
  opacity: 0.75;
  border: 3px solid rgb(0, 0, 0);
}

.main-scroll__line {
  width: 2px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(0, 0, 0);
  animation: scroll 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.main-scroll__text {
  font-size: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (min-width: 1600px) {
  .main-text {
    font-size: 40px;
  }

  .main-text {
    width: 850px;
  }
}
