* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "NotoSansKR", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}
